.gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;

  .work-card {
    scroll-snap-align: start;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    max-width: 100vw;
    height: 95vh;
    box-sizing: border-box;

    img {
      border-radius: 15px;
      filter: brightness(0.8);
      object-fit: cover;
      max-width: 90vw;
      min-width: 80vw;
      max-height: 90vh;
    }

    .work-text {
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      h3 {
        margin: 0;
        font-size: 38px;
      }

      p {
        padding-top: 20px;
        font-size: 22px;
        border-top: 1px solid #ccc;
      }

      .work-tech-logos {
        display: flex;
        align-items: center;
        border-top: 1px solid #ccc;
        padding-top: 20px;

        img {
          min-width: 42px;
          height: 42px;
          margin: 0 10px;
          border: none;
          border-radius: 5px;
          object-fit: contain;
        }
      }
    }
  }
}
