:root {
  font-family: Faculty Glyphic, static;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #00231c;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

h1 h2 h3 h4 p {
  margin: 0;
  padding: 0;
}

.main-content {
  position: relative;
  z-index: 1;
  background: linear-gradient(140deg, #333333, 40%, #5c5c5c, #858585);
  min-height: 50vh;
}

.video-header-container {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.video-header-container .video-container {
  height: 100vh;
}

.video-header-container header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}
